@import "tailwindcss";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Renew' ;
  src: url("assets/renew.ttf") format('ttf');
}

body{
  padding: 40px;
  background-color: rgba(20,20,20);
  font-family: "Renew";
}
